*{
    font-family: Georgia, 'regular';
}
.topbar{
    background-color: #2e2e2e;
    color: #9f9f9f;
}
.my-nav a{
    font-size: 14px;
}
 hr{
    border-width: 3px;
    width: 97%;
    margin-top: 0;
    margin-bottom: 0;
}

.slider .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }
.intro h6{
    font-size: 16px;
    color: rgb(122, 122, 255);
}

.shout .container{
    background-color: #ccc;
    border-left: 7px solid rgb(122, 122, 255);
}
#shout .btn  {
    color: #d8d5d5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
.footer{
    color: #575555;
    background-color: rgb(32, 32, 32);
    
}
.footer h6, p{
    font-size: 12px;
}
.footer hr{
    border-width: 1px;
    width: 99%;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #ccc;
}
.form-group input {
    border-radius: 5px;
    padding: 3px 70px 3px 10px;
    border: 1px solid #302d2d;
    background-color: #302d2d;
    color: #999999;
   
}
.form-group textarea {
    border: 1px solid #302d2d;
    background-color: #302d2d; 
}



   
