*{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: #212529;
}
body, html{
    background-color: #f5f8fa;
}
.container-fluid{
    max-width: 95rem;
    padding-top: 6rem;
    padding-bottom: 7rem;
}
h6{
    font-weight: bold;
}
p{ 
    margin: 0;
}
/* strong{
    font-size: 13px;
} */
a{
    color: #3097D1;
}
i ,small{
    color: #6c757d ;
}
.av{
    border-radius: 130px;
    width: 100px;
    border: 3px solid #fff;
    margin-top: -66px;
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
ul{
    list-style: none;
    padding: 0;
}
.navbar{
    background-color: #3097D1 ; 
}
.navbar-brand, .nav-link, .fa-bell{
    color: rgba(255, 255, 255, 0.5);  
}
.card-profile .card-header{
    height: 160px;
} 
.photos img{
    margin-bottom: .7rem;
}
.message img{
    margin-bottom: .7rem;
}
.message .message__bar{
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: -1px;
}
.message .message__body{
    border: 1px solid #ccc;
    background-color: #fff;
    margin-bottom: -1px;
}
.links p{
    margin-left: .7rem
}
/* notification style */
.Trending p{
    margin-bottom: .6rem;
}
.notifications a:hover{
    background-color: #f5f8fa;
    text-decoration: none;
}

