// @import 'sass/mixins.scss';
.card{
    // width: 240px;
    width: 249px;
    max-height: 335px;
    background-color: $color_white;
    padding: 1.5rem;
    border-radius: 6px;
    margin:1rem;
    box-shadow: 0 10px 40px -10px rgba(0,64,128,.2);
   
       &__palletter{
        overflow: hidden;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        a{
            position: relative;
            &:hover span{
                display: block;
            }
            span{
                position: absolute;
                left: 0;
                bottom: 0;
                background-color: rgba(0,0,0,.2);
                padding: 0.23rem 0.5rem;
                color: $color_white;
                border-top-right-radius: 3px;
                display: none;
                font-size: 1.5rem;
            }
        }
       }
    
    &__footer{
        position: relative;
        margin-top: 1.5rem;
        
        font-size: 1.5rem;
        button{
            border-radius: 5px;
            border: 1px solid $color_graylight;
            outline: none;
            padding: 1rem 1rem;
            background-color: $color_white;
            cursor: pointer;
            &:hover{
                background-color: $color_babyblue;
            }
            .fa-heart{
                // font-size: 1.8rem;
                color: $color_black;
                margin-right: 8px;
            }
        }
        span{
            position: absolute;
            right: 0;
            top:10px;
            color: $color_gray;
            font-size: 12px;
            // font-size: 1.5rem;
        }
    }
}