@import url("https://fonts.googleapis.com/css?family=Rubik");
.border_bottom {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px; }

.border_top {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px; }

/*Box Sizing*/
html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif; }

*,
*::after,
*::before {
  box-sizing: inherit; }

/* Reset margins and paddings on most elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding: 0; }

/* Removes discs from ul */
ul {
  list-style: none; }

button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit; }

i {
  color: #899bb4; }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 100%;
  height: 50px;
  background-color: #fff;
  box-shadow: 0 10px 40px -10px rgba(0, 64, 128, 0.2);
  padding: 10px;
  font-family: 'Rubik', sans-serif;
  font-size: 1.3rem;
  z-index: 1; }
  .navbar ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
    .navbar ul li {
      margin-right: 1.5rem; }
    .navbar ul a {
      text-decoration: none;
      color: #28394a; }
    .navbar ul .logo {
      font-size: 2rem; }
      .navbar ul .logo img {
        width: 26px;
        margin-right: 10px; }
    .navbar ul .dropdown {
      position: relative; }
      .navbar ul .dropdown .dropdown-menu {
        width: 13rem;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        position: absolute;
        top: 187%;
        left: 0;
        opacity: 0;
        transition: transform 0.4s cubic-bezier(0.2, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.2, 0, 0.2, 1);
        transform: translateY(-10px) scaleY(0.5);
        transform-origin: top; }
        .navbar ul .dropdown .dropdown-menu .dropdown-item {
          padding: .7rem; }
          .navbar ul .dropdown .dropdown-menu .dropdown-item:first-child {
            color: #899bb4; }
          .navbar ul .dropdown .dropdown-menu .dropdown-item:hover {
            background-color: #F5FCFF; }
      .navbar ul .dropdown .show {
        opacity: 1;
        transform: translateY(0) scaleY(1); }

/*
0 - 600px: PHONE
600 - 900px: Table portrait
900px - 1200px: Tablet landscape
1200px - 1800: is where our normal style apply
1800 + : Big desktop
*/
/* $break arguement choices:
- phone
- tab-port
- tab-land
- big-destop
*/
.contanier {
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 6rem; }
  .contanier .cards {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    flex-basis: 80%; }
    @media (max-width: 1200px) {
      .contanier .cards {
        justify-content: center;
        flex-basis: 100%; } }
  .contanier aside {
    position: fixed;
    right: 20px;
    flex: 1;
    height: 100vh;
    padding: 1.5rem;
    margin-top: 1rem; }
    @media (max-width: 1200px) {
      .contanier aside {
        display: none; } }

.card {
  width: 249px;
  max-height: 335px;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 6px;
  margin: 1rem;
  box-shadow: 0 10px 40px -10px rgba(0, 64, 128, 0.2); }
  .card__palletter {
    overflow: hidden;
    border-radius: 6px;
    display: flex;
    flex-direction: column; }
    .card__palletter a {
      position: relative; }
      .card__palletter a:hover span {
        display: block; }
      .card__palletter a span {
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 0.23rem 0.5rem;
        color: #fff;
        border-top-right-radius: 3px;
        display: none;
        font-size: 1.5rem; }
  .card__footer {
    position: relative;
    margin-top: 1.5rem;
    font-size: 1.5rem; }
    .card__footer button {
      border-radius: 5px;
      border: 1px solid #E5E5E5;
      outline: none;
      padding: 1rem 1rem;
      background-color: #fff;
      cursor: pointer; }
      .card__footer button:hover {
        background-color: #F5FCFF; }
      .card__footer button .fa-heart {
        color: #28394a;
        margin-right: 8px; }
    .card__footer span {
      position: absolute;
      right: 0;
      top: 10px;
      color: #899bb4;
      font-size: 12px; }

.input_container {
  width: 100%; }
  .input_container input {
    width: 100%;
    position: relative;
    padding: .6rem;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    color: #28394a;
    font-size: 1.5rem;
    font-family: inherit; }
  .input_container .fa-search {
    font-size: 1.5rem;
    position: absolute;
    top: 24px;
    right: 27px;
    color: #899bb4; }

p {
  color: #28394a;
  margin-top: 1rem;
  font-size: 1.3rem; }
  p .fa-heart {
    margin: .5rem;
    color: red; }

.center {
  margin-top: 11rem;
  text-align: center; }
  .center .palette {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px; }
    .center .palette input[type=color] {
      outline: none;
      border: none;
      overflow: hidden;
      padding: 0;
      -moz-appearance: none;
      -webkit-appearance: none; }
      .center .palette input[type=color]::-moz-color-swatch {
        border: none; }
      .center .palette input[type=color]::-webkit-color-swatch {
        border: none; }
  .center p {
    color: #28394a;
    margin-bottom: 4rem;
    font-size: 2.5rem; }
  .center button {
    border-radius: 5px;
    border: 1px solid #E5E5E5;
    outline: none;
    padding: 1rem 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color: #fff;
    font-size: 1.5rem;
    cursor: pointer; }
    .center button:hover {
      background-color: #F5FCFF; }

/*
0 - 600px: PHONE
600 - 900px: Table portrait
900px - 1200px: Tablet landscape
1200px - 1800: is where our normal style apply
1800 + : Big desktop
*/
/* $break arguement choices:
- phone
- tab-port
- tab-land
- big-destop
*/
center {
  margin-top: 80px; }
  center img {
    width: 160px; }
